<mat-toolbar color="primary" class="flex justify-center items-center">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="flex-grow"></div>
  <app-searching class="w-full flex justify-center"></app-searching>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer mode="over">
    <mat-list role="list">
      <mat-list-item role="listitem" routerLink="/dashboard/calendar">
        <span>The Clinic</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem"
        *ngFor="let sideNavOption of sideNavMenu"
        [routerLink]="sideNavOption.url"
      >
        <mat-icon color="primary" matListItemIcon>{{ sideNavOption.icon }}</mat-icon>
        <div matListItemTitle>
          {{ sideNavOption.title }}
        </div>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <main class="w-full h-screen">
    <router-outlet></router-outlet>
  </main>
</mat-drawer-container>

<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    routerLink="/dashboard/show-account"
    (click)="showAccount(loggedUser)"
  >
    <img matListAvatar [src]="loggedUser.photoUrl || 'assets/img/no-photo-user.jpg'" alt="User Photo" />
    <div matListItemTitle>
      <mat-icon color="primary" matListItemIcon>person</mat-icon>
      {{ loggedUser.name }} {{ loggedUser.lastname }}
    </div>
    <div matListItemTitle> 
      <mat-icon color="primary" matListItemIcon>email</mat-icon>
      {{ loggedUser.email }}
    </div>
  </button>
</mat-menu>
