<!-- 
<mat-stepper class="px-5 mx-10 bg-red-100">
  <mat-step label="User Information"  state="person">
    <p>Put down your phones.</p>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="User assignment"  editable="false" state="assignment">
    <p>Socialize with each other.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Set Photo" editable="false" state="photo_camera">
    <p>You're welcome.</p>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Submit</button>
  </mat-step>

  // Icon overrides.
  <ng-template matStepperIcon="done">
    <mat-icon>done</mat-icon>
  </ng-template>
</mat-stepper> -->

<div class="w-full ">
  <div class="flex justify-center ">
    <div class=" w-[90%] md:w-[80%] bg-slate-50 rounded-xl dark:bg-slate-850 m-5 p-5 space-y-2">
      <p class="text-2xl text-start">Register form</p>
      <ol class="flex items-center justify-center w-full">
        <div class="flex justify-center w-full">
       
          <li class="flex justify-center w-full items-center  after:content-[''] after:w-full after:h-1 after:border-b after:border-slate-100 after:border-4 dark:after:border-slate-500 after:inline-block ">
            <span class="flex items-center justify-center w-8 h-8 bg-blue-100 rounded-full dark:bg-slate-500 lg:h-10 lg:w-10 shrink-0" >
              <div class="flex items-center justify-center">
                <mat-icon *ngIf="isFirstStepValid==='VALID'" class="text-base text-center text-slate-900 dark:text-blue-50" fontIcon="done"/>
                <mat-icon *ngIf="isFirstStepValid!=='VALID'" class="text-base text-center text-slate-900 dark:text-blue-50" fontIcon="person"/>
              </div>
            </span>
          </li>

          <li class="flex justify-center w-full items-center  after:content-[''] after:w-full after:h-1 after:border-b after:border-slate-100 after:border-4 dark:after:border-slate-500 after:inline-block ">
            
            <span class="flex items-center justify-center w-8 h-8 bg-blue-100 rounded-full dark:bg-slate-500 lg:h-10 lg:w-10 shrink-0" >
              <div class="flex items-center justify-center">
                <mat-icon class="text-base text-center text-slate-900 dark:text-blue-50" fontIcon="assignment"/>
              </div>
            </span>
          </li>
          
            <li class="flex items-center w-fit ">
              <span class="flex items-center justify-center w-8 h-8 bg-blue-100 rounded-full lg:h-10 lg:w-10 dark:bg-blue-800 shrink-0">
                <div class="flex items-center justify-center">
                  <mat-icon class="text-base text-center " fontIcon="photo_camera"/>
                </div>
              </span>
            </li>
          </div>
        </ol>  
      
      <form role="form text-left w-full" (ngSubmit)="createUser()" [formGroup]="registerForm">
        <div class="py-5 ">
          <!-- Step 1 -->
          <div *ngIf="currentStep===1" formGroupName="personalInformation" >
            <div class="mb-4">
              <input 
              type="text"  
              class="placeholder:text-gray-700 text-sm focus:shadow-primary-outline leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white dark:bg-slate-600 dark:border-slate-750 dark:placeholder:text-slate-300 dark:text-slate-50 bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-blue-500 dark:focus:border-blue-200 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" 
              placeholder="Name" 
              aria-label="Name" 
              aria-describedby="email-addon" 
              formControlName="name"

              />
            </div>
            <div class="mb-4">
              <input 
              type="email" 
              class="placeholder:text-gray-700 text-sm focus:shadow-primary-outline leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white  dark:bg-slate-600 dark:border-slate-750 dark:placeholder:text-slate-300 dark:text-slate-50 bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-blue-500 dark:focus:border-blue-200 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow"
              placeholder="Email" 
              aria-label="Email" 
              aria-describedby="email-addon" 
              formControlName="email"
              />
            </div>
            <div class="mb-4">
              <input 
              type="password" 
              class="placeholder:text-gray-700 text-sm focus:shadow-primary-outline leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white  dark:bg-slate-600 dark:border-slate-750 dark:placeholder:text-slate-300 dark:text-slate-50 bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-blue-500 dark:focus:border-blue-200 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" 
              placeholder="Password" 
              aria-label="Password" 
              aria-describedby="password-addon" 
              formControlName="password"

              />
            </div>
           
            <div class="text-center" >
              <button type="button" [disabled]="isFirstStepValid!=='VALID'" (click)="nextPage()" class="inline-block w-full px-16 py-3.5 mt-6 mb-0 font-bold leading-normal text-center text-white align-middle transition-all bg-blue-500 border-0 rounded-lg cursor-pointer hover:-translate-y-px active:opacity-85 hover:shadow-xs text-sm ease-in tracking-tight-rem shadow-md bg-150 bg-x-25">Next</button>
            </div>
          </div>
    
          <!-- Step 2 -->
    
          <section *ngIf="currentStep===2" >
            <div class="mb-4">
              <select
                type="t" 
                class="placeholder:text-gray-700 text-sm focus:shadow-primary-outline leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white dark:bg-slate-600 dark:border-slate-750 dark:placeholder:text-slate-300 dark:text-slate-50 bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-blue-500 dark:focus:border-blue-200 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" 
                placeholder="Name" 
                aria-label="Name" 
                aria-describedby="email-addon" 
                formControlName="file"
                >
                <option value="operador">operador</option>
                <option value="doctor">doctor</option>

              </select>
            </div>

            <div class="text-center">
              <button type="button" (click)="previusPage()" class="inline-block w-full px-16 py-3.5 mt-6 mb-0 font-bold leading-normal text-center text-white align-middle transition-all bg-blue-500 border-0 rounded-lg cursor-pointer hover:-translate-y-px active:opacity-85 hover:shadow-xs text-sm ease-in tracking-tight-rem shadow-md bg-150 bg-x-25">Previus</button>
            </div>
            <div class="text-center">
              <button type="submit" class="inline-block w-full px-16 py-3.5 mt-6 mb-0 font-bold leading-normal text-center text-white align-middle transition-all bg-blue-500 border-0 rounded-lg cursor-pointer hover:-translate-y-px active:opacity-85 hover:shadow-xs text-sm ease-in tracking-tight-rem shadow-md bg-150 bg-x-25">Register</button>
            </div>
          </section>


        <!-- Step 2 -->

        <section *ngIf="currentStep===3" >
          <div class="mb-4">
            <input 
              type="file" 
              class="placeholder:text-gray-700 text-sm focus:shadow-primary-outline leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white dark:bg-slate-600 dark:border-slate-750 dark:placeholder:text-slate-300 dark:text-slate-50 bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-blue-500 dark:focus:border-blue-200 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" 
              placeholder="Name" 
              aria-label="Name" 
              aria-describedby="email-addon" 
              formControlName="file"
              />
          </div>

          <div class="text-center">
            <button type="button" (click)="previusPage()" class="inline-block w-full px-16 py-3.5 mt-6 mb-0 font-bold leading-normal text-center text-white align-middle transition-all bg-blue-500 border-0 rounded-lg cursor-pointer hover:-translate-y-px active:opacity-85 hover:shadow-xs text-sm ease-in tracking-tight-rem shadow-md bg-150 bg-x-25">Previus</button>
          </div>
          <div class="text-center">
            <button type="submit" class="inline-block w-full px-16 py-3.5 mt-6 mb-0 font-bold leading-normal text-center text-white align-middle transition-all bg-blue-500 border-0 rounded-lg cursor-pointer hover:-translate-y-px active:opacity-85 hover:shadow-xs text-sm ease-in tracking-tight-rem shadow-md bg-150 bg-x-25">Register</button>
          </div>
        </section>

        </div>
      </form>
    </div>
  </div>
</div>


