<mat-dialog-content class="mat-typography form-content">
  <mat-card-title>
    <h1 class="title">Change Password</h1>
  </mat-card-title>

  <form
    role="form"
    (ngSubmit)="passwordRecoveryForm()"
    [formGroup]="changePasswordForm"
  >
    <mat-form-field appearance="fill" class="input-field">
      <mat-label>Old Password</mat-label>
      <input matInput placeholder="Old Password" formControlName="oldPassword" [type]="hide ? 'password' : 'text'" />
      <mat-icon matSuffix *ngIf="!oldPassword?.invalid">done</mat-icon>
      <mat-error
        *ngIf="oldPassword?.invalid && (oldPassword?.dirty || oldPassword?.touched)"
      >
        <span>Old Password is required.</span>
        <span>Old Password must be at least 8 characters long.</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="input-field" >
      <mat-label>New Password</mat-label>
      <input matInput placeholder="New Password" formControlName="newPassword" [type]="hide ? 'password' : 'text'" />
      <mat-icon matSuffix *ngIf="!newPassword?.invalid">done</mat-icon>
      <mat-error
        *ngIf="newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)"
      >
        <span>Password is required.</span>
        <span>Name must be at least 8 characters long.</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="input-field">
      <mat-label>Confirmation Password</mat-label>
      <input
        matInput
        placeholder="Confirmation Password"
        formControlName="confirmationPassword"
        [type]="hide ? 'password' : 'text'"
      />
      <mat-icon matSuffix *ngIf="!confirmationPassword?.invalid">done</mat-icon>
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon color="primary">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error
        *ngIf="
          confirmationPassword?.invalid &&
          (confirmationPassword?.dirty || confirmationPassword?.touched)
        "
      >
        <span>Confirmation Password is required.</span>
        <span>Confirmation Password must be at least 8 characters long.</span>
      </mat-error>
      <mat-error
        *ngIf="
          !hasPasswordMatch
        "
      >
        <span>Password End Confirmation are not equals</span>
      </mat-error>
    </mat-form-field>

    <mat-dialog-actions>
      <div class="flex w-full py-5 space-x-3">
        <button mat-button mat-dialog-close color="warn" class="w-full">
          Cancel
        </button>
        <button
          class="w-full"
          mat-raised-button
          [disabled]="
            !(
              !changePasswordForm.invalid &&
              hasPasswordMatch &&
              confirmationPassword?.touched
            )
          "
          color="accent"
          type="submit"
        >
          <mat-icon>update</mat-icon>Change Password
        </button>
      </div>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
