.clinic-container {
  display: flex;
  justify-content: center;
  align-items: flex-center;
  width: 100%;
}

.table-wrapper {
  margin-left: 10%;
  margin-right: 10%;
  width: 100%;
  margin-top: 1.5rem;
  border-bottom: 1px solid rgb(17, 28, 68, 0.1);
  border-radius: 0.5rem;
  border-bottom: 1px solid rgb(17, 28, 68, 0.1);
  box-shadow: 0 0.125rem 0.5rem;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #ffffff;
}

.row-link:hover {
  background-color: rgb(255,255, 233);
}

.row-link-disabled {
  opacity: 0.5;
  pointer-events: none;
}


.avatar-image {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  object-fit: cover;
  object-position: top;
}

 .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }

  .loading p {
    margin-top: 10px;
  }