<div class="clinic-container">
  <div class="table-wrapper">
    <div class="table-header">
      <p class="header-text">Clinic's table</p>
      <button class="new-clinic-button" (click)="openDialog()">
        <mat-icon fontIcon="domain_add"></mat-icon>
        New Clinic
      </button>
    </div>
    <div class="table-scroll">
      <table class="table">
        <tbody>
          <ng-container *ngFor="let clinic of clinicList">
            <tr class="table-row row-link" (click)="updateProfileService.clinicToUpdate(clinic)" [class.row-link-disabled]="clinic.status">
              <td class="table-cell clinic-avatar">
                <img [src]="clinic.photoUrl || 'assets/img/no-photo-clinic.jpg'" class="avatar-image">
              </td>
              <td class="table-cell clinic-info">
                <p class="clinic-name">{{ clinic.name }}</p>
              </td>
              <td class="table-cell clinic-dui">
                <p>{{ clinic.registerNumber | mask: '0000-0000-000-0' }}</p>
              </td>
               <td class="table-cell user-address">
                 <p class="clinic-address">{{ clinic.address.state }}/{{ clinic.address.city }}</p>
              </td>
                <td *ngIf="currentUserLogged.role !== 'admin'" class="table-cell action-cell">
                <div class="action-buttons">
                  <button *ngIf="!clinic.status" class="enable-button" (click)="changeClinicState(clinic.id, currentUserLogged.id)">
                    <mat-icon fontIcon="domain"></mat-icon> Enable
                  </button>
                  <button *ngIf="clinic.status" class="disable-button" (click)="changeClinicState(clinic.id, currentUserLogged.id)">
                    <mat-icon fontIcon="domain_disabled"></mat-icon> Disable
                  </button>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div *ngIf="length === 0" class="no-clinic-message">
      <p>No user has been registered yet</p>
    </div>
    <div *ngIf="length > pageSize" class="mat-paginator">
      <mat-paginator [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex" (page)="handlePageEvent($event)"></mat-paginator>
    </div>
  </div>
</div>
