<p mat-dialog-title class="w-full spacey-2 h-full min-w-full min-h-full rounded-0 p-[10%] bg-slate-50 dark:bg-slate-850">
  <span class="px-1 py-2 text-2xl text-black dark:text-white">Create New Appointment</span>
</p>
<mat-dialog-content class="mat-typography" class="w-full spacey-2 h-full min-w-full min-h-full rounded-0 p-[10%] bg-slate-50 dark:bg-slate-850">
  <form role="form text-left w-full" enctype="multipart/form-data" (ngSubmit)="confirmCurrentPatient()" [formGroup]="confirmPatientForm">
    <div class="w-full mb-4">
        <span class="flex justify-start px-1 py-2 text-sm text-black dark:text-white">Confirmate your DUI</span>
        <div class="relative">
            <input 
            type="text" 
            class="placeholder:text-gray-700 disabled:opacity-50 text-sm focus:shadow-primary-outline leading-5.6 ease block w-full appearance-none rounded-lg  bg-blue-500/13 dark:border-slate-750 dark:placeholder:text-slate-300  bg-clip-padding py-4 px-3  font-normal text-slate-800 dark:text-slate-100 transition-all focus:border-slate-300 dark:focus:border-slate-700   focus:outline-none focus:transition-shadow" 
            placeholder="Document Number" 
            formControlName="document_number"
            mask="00000000-0"
            />
        </div>
        <div *ngIf="document_number?.invalid && (document_number?.dirty || document_number?.touched)"
            class="alert alert-danger">

            <div  *ngIf="document_number?.errors?.['required']">
            <span  class="flex items-center pt-2 text-red-800 dark:text-red-400">
                <mat-icon class="mx-2"  fontIcon="error"/> 
                password is required.
            </span>
            </div>
            <div *ngIf="document_number?.errors?.['minlength']">
            <span  class="flex items-center pt-2 text-red-800 dark:text-red-400">
                <mat-icon class="mx-2"  fontIcon="error"/>
                Name must be at least 9 characters long.
            </span>
            </div>
        </div>
    </div> 
    <div *ngIf="!isDocument_numberCorrenct" class="w-full mb-4">
        <button mat-raised-button type="submit" class="dark:disabled:text-white/50" [disabled]="confirmPatientForm.invalid" [disabled]="!isDocument_numberCorrenct" color="warn" ><mat-icon>badge</mat-icon>Confirmate your Document Number</button>
    </div>        
  </form>

  <form *ngIf="isDocument_numberCorrenct" role="form text-left w-full" enctype="multipart/form-data" (ngSubmit)="createAppointment()" [formGroup]="newAppointmentForm">
    <div class="grid w-full grid-cols-1">
      <div class="flex-col w-full columns-1">
        <p class="flex justify-center w-full px-1 py-2 text-lg text-center text-black dark:text-white">{{completename}}</p>
      </div>
      
      <div class="flex-col w-full columns-2">
        <div class="w-full mb-4">
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput  [min]="minDate" formControlName="start" [max]="maxDate" [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
  
        <!-- time -->  
        <div class="w-full mb-4">
          <mat-form-field class="w-full">
            <input 
              matInput
              [format]="24"
              type="datetime"
              class="w-full"
              name="selected_time_A"
              formControlName="time"
              [ngxMatTimepicker]="pickerA"
              placeholder="Choose time"
              [max]="maxTime"
		          [min]="minTime"
              readonly 
            />
            <mat-icon class="cursor-pointer" matSuffix (click)="pickerA.open()">watch_later</mat-icon>
          </mat-form-field>
          <ngx-mat-timepicker #pickerA></ngx-mat-timepicker>
        </div>
      </div>                
          
        <!-- time -->
        <div class="mb-4">
          <span class="flex justify-start px-1 py-2 text-sm text-black dark:text-white">Select Clinic </span>
          <div class="relative flex rounded-md">
            <select
              type="text"  
              class="placeholder:text-gray-700  text-sm focus:shadow-primary-outline leading-5.6 ease block w-full appearance-none rounded-lg  bg-blue-500/13 dark:border-slate-750 dark:placeholder:text-slate-300  bg-clip-padding py-4 px-3 font-normal text-slate-800 dark:text-slate-100 transition-all focus:border-slate-300 dark:focus:border-slate-700   focus:outline-none focus:transition-shadow" 
              placeholder="Clinic" 
              formControlName="clinic"
              (change)="getDoctorsByClinic"
              
            >
              <option value="Select a clinic" selected disabled>select clinic</option>
              <option *ngFor="let clinic of clinicList" [value]="clinic.clinic_id">{{clinic.name}} - {{ clinic.province }}/{{clinic.city}}</option>
            </select>
            <!-- <div *ngIf="province?.value" class="absolute inset-y-0 right-0 flex items-center pr-3 text-sm leading-5">
              <mat-icon class="text-base" color="accent">done</mat-icon>
            </div> -->
          </div>
        </div>

        <div class="mb-4">
          <span class="flex justify-start px-1 py-2 text-sm text-black dark:text-white">Select Doctor </span>
          <div class="relative flex rounded-md">
            <select
              type="text"  
              class="placeholder:text-gray-700  text-sm focus:shadow-primary-outline leading-5.6 ease block w-full appearance-none rounded-lg  bg-blue-500/13 dark:border-slate-750 dark:placeholder:text-slate-300  bg-clip-padding py-4 px-3 font-normal text-slate-800 dark:text-slate-100 transition-all focus:border-slate-300 dark:focus:border-slate-700   focus:outline-none focus:transition-shadow" 
              placeholder="Doctor" 
              formControlName="doctor"
            >
              <option value="Select a doctor" selected disabled>select clinic</option>
              <option *ngFor="let doctor of doctorList" [value]="doctor._id">{{doctor.name}} {{doctor.lastname}} </option>
            </select>
            <!-- <div *ngIf="province?.value" class="absolute inset-y-0 right-0 flex items-center pr-3 text-sm leading-5">
              <mat-icon class="text-base" color="accent">done</mat-icon>
            </div> -->
          </div>
        </div>   
      </div>   

    
    <div class="flex justify-center w-full mb-4">
      <!-- !(!newAppointmentForm.invalid && isDocument_numberCorrenct && newAppointmentForm.touched) -->
        <button mat-raised-button type="submit" [disabled]="newAppointmentForm.invalid" color="accent" ><mat-icon>event</mat-icon>Create new Appointment</button>
    </div>  
  </form> 
</mat-dialog-content>
<mat-dialog-actions align="end" class="w-full spacey-2 h-full min-w-full min-h-full rounded-0 p-[10%] bg-slate-50 dark:bg-slate-850">
  <button mat-raised-button color="warn" class="z-0" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
