<div class="w-full">
    <span class="text-sm ease leading-5.6 absolute z-50 -ml-px flex h-full items-center whitespace-nowrap rounded-lg rounded-tr-none rounded-br-none border border-r-0 border-transparent bg-transparent py-2 px-2.5 text-center font-normal text-slate-500 transition-all">
      <i class="fas fa-search"></i>
    </span>
    <input 
        type="text" 
        class="pl-9 w-full text-sm md:text-normal focus:shadow-primary-outline ease w-12/12 leading-5.6 relative  block min-w-0 flex-auto rounded-lg border border-solid border-gray-300 dark:bg-slate-850 dark:text-white bg-white bg-clip-padding py-2 md:py-3.5  text-gray-700 transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none focus:transition-shadow"
        placeholder="Type here..."
        (ngModelChange)="search($event)" 
    />
</div>
<!-- <div class="limit-width" #asBoxInput>
    <input
      class="input-src"
      [ngClass]="{'loading':isLoading}"
      [spellcheck]="false"
      placeholder="Canciones"
      type="text"
      (ngModelChange)="search($event)"
      [(ngModel)]="src">

      <div class="results">
        <ul>
          <li *ngFor="let item of data$ | async">
            <a class="name" target="_blank" [href]="item?.external_urls?.spotify">
              {{item.name}}
            </a>
            <img [src]="item.album.images[2].url" alt="">
          </li>
        </ul>
      </div>

  </div> -->