<div class="items-center w-full h-full">
   
    <form  role="form " [formGroup]="searchForm">
        <div class="flex"> 
            <span class="text-lg  absolute  z-[2]  flex h-fit align-middle  rounded-lg rounded-tr-none rounded-br-none border border-r-0 border-transparent bg-transparent py-2  px-1 text-center ">
                <mat-icon class="text-base text-white ">search</mat-icon>
            </span>         
            <input 
                type="text" 
                class="pl-9 w-full text-sm md:text-normal focus:shadow-primary-outline ease w-12/12 leading-5.6 relative  block min-w-0 flex-auto rounded-lg border border-solid border-gray-300 dark:bg-slate-850 dark:text-white bg-white bg-clip-padding py-2 text-gray-700 transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none focus:transition-shadow"
                placeholder="Type here..."
                type="text" 
                formControlName="searchInput"
            />
        </div>
    </form>
</div>
<div class="w-full h-full" #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="searchMenu">
    <mat-menu  #searchMenu="matMenu" class="w-full h-full bg-slate-850/100">
        <a  routerLink="/dashboard/show-user" (click)="this.updateProfileService.userToUpdate(result)" mat-menu-item *ngFor="let result of searchResults$ | async" class="w-full h-full">
            <div class="flex w-full p-3">
                <div class="w-full my-auto">
                  <img [src]="result.photo||'assets/img/no-photo-user.png'" class="inline-flex items-center justify-center object-cover object-top w-16 h-16 mr-4 overflow-hidden text-sm text-white bg-orange-300 max-w-none rounded-xl" />
                </div>
                <div class="flex justify-center w-full min-w-full space-x-2">
                  <p class="w-full mb-1 text-sm font-normal capitalize text-white/80"><span class="font-semibold">{{result.name}}  {{result.lastname}} {{result.rol}} {{result.phone}}</span></p>
                </div>
            </div>
        </a>
    </mat-menu> 
</div>