<!-- sidenav  -->

<a *ngIf="!ui.isSideBarOpen" (click)="toggleSideBar()" class=" hover:bg-slate-200 dark:hover:bg-slate-800  rounded-lg z-30 absolute py-1 px-1 cursor-pointer text-xl justify-center left-0 text-slate-900 dark:text-white top-[48%] xl:hidden"><i class="fa fa-grip-lines-vertical"></i></a>
<aside [ngClass]="{'ml-0 -translate-x-full': !ui.isSideBarOpen }"  class="fixed inset-y-0 flex-wrap items-center justify-between block p-0 my-2 ml-0 md:ml-[1%] overflow-y-auto antialiased transition-transform duration-200 bg-white border-0 shadow-xl w-12/12 dark:shadow-none dark:bg-slate-850 max-w-64 ease-nav-brand z-990 rounded-2xl xl:ml-[1%] xl:left-0 xl:translate-x-0">
  <a *ngIf="ui.isSideBarOpen" (click)="toggleSideBar()" class=" hover:bg-slate-100 dark:hover:bg-slate-800 rounded-lg z-30 absolute py-1 px-1 cursor-pointer text-xl justify-center left-[1%] text-slate-900 dark:text-white top-[48%] xl:hidden"><i class="fa fa-grip-lines-vertical"></i></a>
  <div class="h-19">
    <a routerLink="/dashboard/user-profile" class="block w-full px-4 py-4 bg-transparent rounded-lg cursor-pointer dark:hover:bg-slate-900 whitespace-nowrap hover:bg-gray-200 hover:text-slate-700">
      <div class="flex py-1">
        <div class="my-auto">
          <img src="./assets/img/team-2.jpg" class="inline-flex items-center justify-center w-12 h-12 mr-4 text-sm text-white max-w-none rounded-xl" />
        </div>
        <div class="flex flex-col justify-center">
          <h6 class="mb-1 text-sm font-normal dark:text-white"><span class="font-semibold">Jonasovichj Morales</span></h6>
          <p class="mb-0 text-xs text-slate-400 dark:text-white/80">
            <i class="mr-1 fa fa-user"></i>
            User Profile
          </p>
        </div>
      </div>
    </a>
  </div>

  <hr class="h-px mt-2 bg-transparent bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-slate-600 dark:to-transparent" />
  <div class="items-center block w-auto max-h-screen mt-2 overflow-auto">
    <ul class="flex flex-col pl-0 mb-0">
      <li class="mt-0.5 w-full">
        <a routerLink="/dashboard" routerLinkActive="bg-blue-500/13" class="py-2.7   dark:opacity-80 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap rounded-lg px-4 font-semibold text-slate-700 dark:text-white transition-colors">
          <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
            <i class="relative top-0 text-sm leading-normal text-blue-500 ni ni-tv-2"></i>
          </div>
          <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Dashboard</span>
        </a>
      </li>

      <li class="mt-0.5 w-full">
        <a routerLink="/dashboard/medical-record"  class=" dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors" href="./pages/tables.html">
          <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
            <i class="relative top-0 text-sm leading-normal text-orange-500 ni ni-calendar-grid-58"></i>
          </div>
          <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Tables</span>
        </a>
      </li>

      <li class="mt-0.5 w-full">
        <a class=" dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors" href="./pages/billing.html">
          <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center fill-current stroke-0 text-center xl:p-2.5">
            <i class="relative top-0 text-sm leading-normal text-emerald-500 ni ni-credit-card"></i>
          </div>
          <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Billing</span>
        </a>
      </li>

      <li class="mt-0.5 w-full">
        <a class=" dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors" href="./pages/virtual-reality.html">
          <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
            <i class="relative top-0 text-sm leading-normal text-cyan-500 ni ni-app"></i>
          </div>
          <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Virtual Reality</span>
        </a>
      </li>

      <li class="mt-0.5 w-full">
        <a class=" dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors" href="./pages/rtl.html">
          <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
            <i class="relative top-0 text-sm leading-normal text-red-600 ni ni-world-2"></i>
          </div>
          <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">RTL</span>
        </a>
      </li>

      <li class="w-full mt-4">
        <h6 class="pl-6 ml-2 text-xs font-bold leading-tight uppercase dark:text-white opacity-60">Account pages</h6>
      </li>

      <li class="mt-0.5 w-full">
        <a class=" dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors" href="./pages/profile.html">
          <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
            <i class="relative top-0 text-sm leading-normal text-slate-700 ni ni-single-02"></i>
          </div>
          <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Profile</span>
        </a>
      </li>

      <li class="mt-0.5 w-full">
        <a class=" dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors" href="./pages/sign-in.html">
          <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
            <i class="relative top-0 text-sm leading-normal text-orange-500 ni ni-single-copy-04"></i>
          </div>
          <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Sign In</span>
        </a>
      </li>

      <li class="mt-0.5 w-full">
        <a class=" dark:text-white dark:opacity-80 py-2.7 text-sm ease-nav-brand my-0 mx-2 flex items-center whitespace-nowrap px-4 transition-colors" href="./pages/sign-up.html">
          <div class="mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-center stroke-0 text-center xl:p-2.5">
            <i class="relative top-0 text-sm leading-normal text-cyan-500 ni ni-collection"></i>
          </div>
          <span class="ml-1 duration-300 opacity-100 pointer-events-none ease">Sign Up</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="absolute flex justify-center w-full bottom-5">
    <a class="inline-block px-8 py-2 text-xs font-bold leading-normal text-center text-white align-middle transition-all ease-in bg-red-500 border-0 rounded-lg shadow-md cursor-pointer select-none w-12/12 bg-150 bg-x-25 hover:shadow-xs hover:-translate-y-px" >Log Out<i class="mx-2 fa fa-sign-out"></i></a>
  </div>
</aside>

<!-- end sidenav -->
