<!-- sidenav  -->

<div [ngClass]="{'mr-0 translate-x-full ': !ui.isSideBarOpen }"  class="fixed w-fix right-0 translate-x-fit inset-y-0 flex-wrap items-center justify-between block p-0 snap-none mt-2 mr-0  overflow-y-auto antialiased transition-transform duration-200 bg-white border-0 shadow-xl  dark:shadow-none dark:bg-slate-850  ease-nav-brand z-990 rounded-2xl h-max-screen xl:mr-[1%] xl:right-0 xl:translate-x-0">
  <div class="flex-col w-full h-full capitalize ">
    
   <div class="flex-col w-full h-full p-1">
      <button mat-mini-fab matTooltip="Primary" (click)="ui.closeSideBar()"   class="block float-right m-1 mt-5 text-xs align-middle bg-red-600 rounded-full xl:hidden hover:bg-red-700 ">
        <mat-icon class="text-base text-center text-white align-middle xl:hidden">close</mat-icon>
      </button>
      <div class="h-30">
        <a routerLink="/dashboard/user-profile" class="flex w-full px-2 py-2 bg-transparent rounded-lg cursor-pointer xl:py-6 justify-self-center dark:hover:bg-blue-500/13 whitespace-nowrap hover:bg-blue-500/13 hover:text-slate-700 ">
          <div class="my-auto">
            <img src="./assets/img/team-2.jpg" class="inline-flex items-center justify-center w-16 h-16 mr-4 text-sm text-white max-w-none rounded-xl" />
          </div>
          <div class="flex flex-col justify-center">
            <h6 class="mb-1 text-sm font-normal dark:text-white"><span class="font-semibold">Jonasovichj Morales</span></h6>
            <p class="flex items-center justify-start mb-0 text-xs text-black/80 dark:text-white/80">
              <mat-icon  class="relative top-0 text-sm leading-normal" fontIcon="person"/>
              User Profile
            </p>
          </div>
        </a>
      </div>
      <hr class="h-px mt-2 bg-transparent bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-slate-600 dark:to-transparent" />
      <div class="items-center block w-auto max-h-screen mt-2 overflow-auto">
        <ul class="flex flex-col pl-0 mb-0 space-y-3">
          <li class="mt-0.5 w-full">
            <a routerLink="/dashboard/main" routerLinkActive="bg-blue-500/13 ease-nav-brand"  class="flex items-center justify-start px-4 py-2 mx-2 space-x-2 text-lg align-middle rounded-lg cursor-pointer" >
              <mat-icon  class="text-purple-400 " fontIcon="monitor"/>
              <span >Dashboard</span>
            </a>
          </li>
    
          <li class="mt-0.5 w-full">
            <a routerLink="/dashboard/users" routerLinkActive="bg-blue-500/13 ease-nav-brand"  class="flex items-center justify-start px-4 py-2 mx-2 space-x-2 text-lg align-middle rounded-lg cursor-pointer" >
              <mat-icon  class="text-orange-400 " fontIcon="person"/>
              <span >Users</span>
            </a>
          </li>
    
          <li class="mt-0.5 w-full">
            <a routerLink="/dashboard/medical-record" routerLinkActive="bg-blue-500/13 ease-nav-brand"  class="flex items-center justify-start px-4 py-2 mx-2 space-x-2 text-lg align-middle rounded-lg cursor-pointer" >
              <mat-icon  class="text-red-400 " fontIcon="local_hospital"/>
              <span >Clinics</span>
            </a>
          </li>
    
          <li class="mt-0.5 w-full">
            <a routerLink="/dashboard/patients" routerLinkActive="bg-blue-500/13 ease-nav-brand"  class="flex items-center justify-start px-4 py-2 mx-2 space-x-2 text-lg align-middle rounded-lg cursor-pointer" >
              <mat-icon  class="text-yellow-400 " fontIcon="group"/>
              <span >Patients</span>
            </a>
          </li>
          <li class="mt-0.5 w-full">
            <a routerLink="/dashboard/clinics" routerLinkActive="bg-blue-500/13 ease-nav-brand"  class="flex items-center justify-start px-4 py-2 mx-2 space-x-2 text-lg align-middle rounded-lg cursor-pointer" >
              <mat-icon  class="text-green-400 " fontIcon="description"/>
              <span >medical records</span>
            </a>
          </li>
    
    
        </ul>
      </div>
    </div> 
    <div class="absolute flex-col w-full px-2 bottom-2">
      <a (click)="logout()" class="flex items-center justify-center w-full px-8 py-2 text-base font-bold leading-normal text-center text-white align-middle transition-all ease-in bg-red-500 border-0 rounded-lg shadow-md cursor-pointer select-none bg-150 bg-x-25 hover:shadow-xs hover:-translate-y-px" >Log Out<mat-icon  class="text-base text-center " fontIcon="logout"/></a>
    </div>
  </div>

</div>


<!-- end sidenav -->
