<mat-dialog-content class="mat-typography form-content">
  <mat-card-title>
    <p class="title">Edit New Appointment</p>
  </mat-card-title>

  <form
    role="form"
    (ngSubmit)="editAppointment()"
    [formGroup]="editAppointmentForm"
  >
    <div class="grid w-full grid-cols-1">
      <!-- <div
        class="flex flex-col items-center justify-center w-full p-5 columns-1"
      >
        <div
          class="flex flex-col p-3 rounded-lg shadow-lg columns-1 w-fit bg-slate-100"
        >
          <div class="flex w-full">
            <p class="text-xl font-bold text-slate-850">Patient ID</p>
          </div>
          <div class="flex w-full">
            <div class="my-auto">
              <img
                [src]="patient.photoUrl || 'assets/img/no-photo-user.jpg'"
                class="inline-flex items-center justify-center object-cover object-top mr-4 overflow-hidden text-sm text-white bg-orange-300 w-34 h-34 max-w-none rounded-xl"
              />
            </div>
            <div class="flex flex-col justify-center">
              <p class="mb-1 text-sm font-normal capitalize text-slate-850">
                <span class="font-semibold">Full Name : </span
                ><span class="font-normal"
                  >{{ patient.name }} {{ patient.lastname }}</span
                >
              </p>
              <p class="mb-1 text-sm font-normal capitalize text-slate-850">
                <span class="font-semibold">Document Number : </span
                ><span class="font-normal">{{
                  patient!.duiNumber | mask : "00000000-0"
                }}</span>
              </p>
            </div>
          </div>
        </div>
      </div> -->

      <div class="input-group">
        <mat-form-field appearance="fill" class="input-field">
          <mat-label>Appointment Date</mat-label>
          <input
            matInput
            [min]="minDate"
            formControlName="start"
            [max]="maxDate"
            [matDatepicker]="picker"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <!-- <mat-icon matSuffix *ngIf="date?.valid" color="accent">done</mat-icon> -->
        <mat-form-field appearance="fill" class="input-field">
          <mat-label>Appointment Time</mat-label>
          <input
            matInput
            [format]="24"
            type="datetime"
            class="w-full"
            name="selected_time_A"
            formControlName="time"
            [ngxMatTimepicker]="pickerA"
            [max]="maxTime"
            [min]="minTime"
            readonly
          />
          <mat-icon class="cursor-pointer" matSuffix (click)="pickerA.open()"
            >watch_later</mat-icon
          >
          <!-- <mat-icon matSuffix *ngIf="time?.valid" color="accent">done</mat-icon> -->
        </mat-form-field>
        <ngx-mat-timepicker class="bg-red-700" #pickerA></ngx-mat-timepicker>
      </div>
      <!-- (selectionChange)="getDoctorsAssigned()" -->
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Select a Clinic</mat-label>
        <mat-select
          formControlName="clinic"
        >
          @for (clinic of clinicList; track clinic) {
          <mat-option [value]="clinic.id"
            >{{ clinic.name }} - {{ clinic.address.state }}/{{
              clinic.address.city
            }}</mat-option
          >
          }
        </mat-select>
        <mat-icon matSuffix *ngIf="clinic?.valid" color="accent">done</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Select a Doctor</mat-label>
        <mat-select formControlName="doctor">
          @for (doctor of doctorList; track doctor) {
          <mat-option [value]="doctor.id"
            >{{ doctor.name }} - {{ doctor.lastname }}/{{
              doctor.duiNumber | mask : "00000000-0"
            }}</mat-option
          >
          }
        </mat-select>
        <mat-icon matSuffix *ngIf="doctor?.valid" color="accent">done</mat-icon>
      </mat-form-field>
    </div>

    <div class="flex justify-center w-full mb-4 space-x-5">
      <button
        mat-raised-button
        type="submit"
        [disabled]="editAppointmentForm.invalid"
        color="accent"
      >
        <mat-icon>edit</mat-icon>Update Appointment
      </button>
       <button
        mat-raised-button
        type="button"
        (click)="deleteAppointment()"
        color="warn"
      >
        <mat-icon>delete</mat-icon>Delete Appointment
      </button>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
