<mat-dialog-content class="mat-typography form-content">
  <mat-card-title>
    <h1 class="title">Register new account</h1>
  </mat-card-title>

  <form [formGroup]="registerForm" (ngSubmit)="createAccount()">
    <div class="input-group">
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" placeholder="Name" />
        <mat-icon matSuffix *ngIf="!name?.invalid">done</mat-icon>
        <mat-error *ngIf="name?.invalid && (name?.dirty || name?.touched)">
          <span *ngIf="name?.errors?.['required']">Name is required.</span>
          <span *ngIf="name?.errors?.['minlength']"
            >Name must be at least 3 characters long.</span
          >
          <span *ngIf="name?.errors?.['maxlength']"
            >Name must be longer than 25 characters.</span
          >
          <span *ngIf="name?.errors?.['forbiddenName']"
            >Name only could have letters a-z. Only two names are allowed.</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="lastname"
          placeholder="Last Name"
        />
        <mat-icon matSuffix *ngIf="!lastname?.invalid">done</mat-icon>
        <mat-error
          *ngIf="lastname?.invalid && (lastname?.dirty || lastname?.touched)"
        >
          <span *ngIf="lastname?.errors?.['required']"
            >Last Name is required.</span
          >
          <span *ngIf="lastname?.errors?.['minlength']"
            >Last Name must be at least 3 characters long.</span
          >
          <span *ngIf="lastname?.errors?.['forbiddenName']"
            >Last Name only could have letters a-z. Only two Last Names are
            allowed.</span
          >
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          formControlName="email"
          placeholder="Email"
        />
        <mat-icon matSuffix *ngIf="!email?.invalid">done</mat-icon>
        <mat-error *ngIf="email?.invalid && (email?.dirty || email?.touched)">
          <span *ngIf="email?.errors?.['required']">Email is required.</span>
          <span *ngIf="email?.errors?.['minlength']"
            >Email must be at least 10 characters long.</span
          >
          <span *ngIf="email?.errors?.['forbiddenName']"
            >Email only could have a-z and dot(.) or underscore(_)</span
          >
        </mat-error>
      </mat-form-field>
    </div>
    <div class="input-group">
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Phone</mat-label>
        <input
          matInput
          type="text"
          formControlName="phone"
          placeholder="Phone"
          prefix="(+503) "
          mask="0000-0000"
        />
        <mat-icon matSuffix *ngIf="!phone?.invalid">done</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Document Number</mat-label>
        <input
          matInput
          type="text"
          formControlName="duiNumber"
          placeholder="DUI"
          mask="00000000-0"
        />
        <mat-icon matSuffix *ngIf="!duiNumber?.invalid">done</mat-icon>
      </mat-form-field>
    </div>

    <div class="input-group">
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          placeholder="Password"
        />
        <mat-icon matSuffix *ngIf="!password?.invalid">done</mat-icon>
        <mat-error
          *ngIf="password?.invalid && (password?.dirty || password?.touched)"
        >
          <span *ngIf="password?.errors?.['required']"
            >Password is required.</span
          >
          <span *ngIf="password?.errors?.['minlength']"
            >Password must be at least 9 characters long.</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="input-field">
        <mat-label>Confirmation password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="confirmationPassword"
          placeholder="Confirmation Password"
        />
        <mat-icon matSuffix *ngIf="!confirmationPassword?.invalid"
          >done</mat-icon
        >
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon color="primary">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            confirmationPassword?.invalid &&
            (confirmationPassword?.dirty || confirmationPassword?.touched)
          "
        >
          <span *ngIf="confirmationPassword?.errors?.['required']"
            >Confirmation password is required.</span
          >
          <span *ngIf="confirmationPassword?.errors?.['minlength']"
            >Confirmation password must be at least 9 characters long.</span
          >
        </mat-error>
      </mat-form-field>
    </div>
    <p>FALTA VALIDAR CUANDO LAS CONTRASEÑAS NO COINCIDEN</p>

    <div class="input-group">
      <div class="radio-group">
        <mat-radio-group formControlName="role">
          <mat-radio-button value="doctor">Doctor</mat-radio-button>
          <mat-radio-button value="patient">Patient</mat-radio-button>
        </mat-radio-group>

        <mat-radio-group formControlName="gender">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="mat-dialog-actions">
      <button
        mat-button
        color="accent"
        type="submit"
        [disabled]="registerForm.invalid"
      >
        <mat-icon>save</mat-icon> Enroll
      </button>
      <button mat-button mat-dialog-close color="warn">Cancel</button>
    </div>
  </form>
</mat-dialog-content>
