<div class="account-container">
  <div class="table-wrapper">
    <div class="table-header">
      <p>User's Accounts</p>
      <button mat-raised-button color="primary"  (click)="openDialog()">
        <mat-icon>person_add</mat-icon>
        New User
      </button>
    </div>
    <div>
      <table mat-table  [dataSource]="userList">
        <ng-container matColumnDef="avatar">
          <td mat-cell  *matCellDef="let user">
            <img [src]="user.photoUrl || 'assets/img/no-photo-user.jpg'" class="avatar-image">
          </td>
        </ng-container>
          <ng-container matColumnDef="name">
          <td mat-cell  *matCellDef="let user">
            <p>{{ user.name }} {{ user.lastname }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <td mat-cell *matCellDef="let user">
            <p>{{ user.email }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="role">
          <td mat-cell *matCellDef="let user">
            <p>{{ user.role }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="action" *ngIf="currentUserLogged?.role==='ADMIN'">
          <td mat-cell *matCellDef="let user">
            <div>
              <button mat-raised-button color="accent" *ngIf="!user.isValidated" (click)="changeAccountStatus()">
                <mat-icon>person</mat-icon>
                Enable
              </button>
              <button mat-raised-button color="warn" *ngIf="user.isValidated" (click)="changeAccountStatus()">
                <mat-icon>person_off</mat-icon>
                Disable
              </button>
            </div>
          </td>
        </ng-container>
        <tr mat-row (click)="updateProfileService.userToUpdate(user)" [class.row-link-disabled]="user.isValidated" *matRowDef="let user; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div *ngIf="length === 0">
      <p>No user has been registered yet</p>
    </div>
    <div >
      <mat-paginator [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex" (page)="handlePageEvent($event)"></mat-paginator>
    </div>
  </div>
</div>
