<nav class="hidden mx-3 md:grid">
    <!-- breadcrumb -->
    <ol class="flex flex-wrap pt-1 bg-transparent rounded-lg">
      <li class="text-sm leading-normal">
        <a class="text-white opacity-50"><i class="fa fa-home"></i> The Clinic</a>
      </li>
     
      <li class="text-sm pl-2 capitalize leading-normal text-white before:float-left before:pr-2 before:text-white before:content-['/']">
        {{breadcrumbTitle}}
      </li>
      <li class="text-sm pl-2 capitalize leading-normal text-white before:float-left before:pr-2 before:text-white before:content-['/']">
        {{breadcrumbTitle}}
      </li>
    
    </ol>
    <h6 class="mb-0 font-bold text-white capitalize">{{ breadcrumbTitle}}</h6>
  </nav>
  <nav class="flex md:hidden">
    
    <h6 class="space-x-1"><i class="fa fa-home"></i><span class="mb-0 font-bold text-white capitalize before:content-['/']"> {{ breadcrumbTitle}}</span></h6>
  </nav>
