<div class="flex items-center justify-center px-2 py-8 rounded-md">
  <div class="min-w-full rounded-md shadow-lg ">
    <div class="p-5 bg-white md:p-16 md:pb-12  rounded-xl">
        <h1 class="flex justify-center text-2xl font-bold text-gray-800">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h1>
          <div class="flex items-center justify-between px-4 rounded-md">
            <div class="flex items-center space-x-1 text-gray-800">
                <button mat-raised-button color="primary" class="z-0">
                  <div
                    class="btn btn-primary"
                    mwlCalendarPreviousView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()"
                  > 
                    Previous
                  </div>
                </button>
                
                <button mat-raised-button class="z-0">
                  <div
                    class="btn btn-outline-secondary"
                    mwlCalendarToday
                    [(viewDate)]="viewDate"
                  >
                    Today
                  </div> 
                </button > 
                
                <button mat-raised-button color="primary" class="z-0">
                  <div
                    class="btn btn-primary"
                    mwlCalendarNextView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()"
                  >
                    Next
                  </div>
                </button>
            </div>
              <div class="flex items-center space-x-1 text-gray-800">
                <button mat-raised-button color="warn" class="z-0">
                  <div
                    class="btn btn-primary"
                    (click)="setView(CalendarView.Month)"
                    [class.active]="view === CalendarView.Month"
                  >
                    Month
                  </div>
                </button>
                
                <button mat-raised-button color="warn" class="z-0">
                  <div
                    class="btn btn-primary"
                    (click)="setView(CalendarView.Week)"
                    [class.active]="view === CalendarView.Week"
                  >
                    Week
                  </div>
                </button > 
                
                <button mat-raised-button color="warn" class="z-0">
                  <div
                    class="btn btn-primary"
                    (click)="setView(CalendarView.Day)"
                    [class.active]="view === CalendarView.Day"
                  >
                    Day
                  </div>
                </button> 
              </div>
          </div>
   
          <div class="flex items-center justify-between w-full pt-12 overflow-x-auto">
            <div [ngSwitch]="view" class="w-full text-center text-slate-850">
              <mwl-calendar-month-view
                *ngSwitchCase="CalendarView.Month"
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                [activeDayIsOpen]="activeDayIsOpen"
                (dayClicked)="dayClicked($event.day)"
                (eventClicked)="editEvent( $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)"
              >
              </mwl-calendar-month-view>
              <mwl-calendar-week-view
                *ngSwitchCase="CalendarView.Week"
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                (eventClicked)="editEvent( $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)"
              >
              </mwl-calendar-week-view>
              <mwl-calendar-day-view
                *ngSwitchCase="CalendarView.Day"
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                (eventClicked)="editEvent( $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)"
                
              >
              </mwl-calendar-day-view>
            </div>
          </div>
      </div>
  </div>
</div>
<div class="fixed left-8 bottom-10 z-[2]">
  <button  (click)="addEvent()" mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
    <mat-icon>event</mat-icon>
  </button>
</div>
